<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://www.xuedesign.tw/images/favicon.ico"/>
    <title>[首頁提案] 中央研究院歷史語言研究所</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/flickity.css">
    <!--<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">-->
    <link rel="stylesheet" href="css/superfish.css">
</head>
<body>
    

    
        <div id="wrap">
            <header>
                <div id="hdr-fixed-red2">
                    <a href="content-people.html">
                        <div id="hdr-main">
                            <img src="images/header-main.png" alt="*">
                        </div>
                    </a>
                    
                    <div id="nav-top">
                        <nav>
                            <ul class="sf-menu" id="example">
                                <li class="current"><a href="#">佈告欄</a>
                                    <ul>
                                        <li class="current">
                                            <a href="#">學術活動</a>
                                            <ul>
                                                <li><a href="#">講論會</a></li>
                                                <li><a href="#">專題演講</a></li>
                                                <li><a href="#">學術會議</a></li>
                                                <li><a href="#">研習營</a></li>
                                                <li><a href="#">傅斯年講座</a></li>
                                            </ul></li>
                                        <li><a href="#">最新消息</a>
                                            <ul>
                                                <li><a href="#">學者來訪</a></li>
                                                <li><a href="#">學術榮譽</a></li>
                                                <li><a href="#">公告事項</a></li>
                                                <li><a href="#">申請事項</a></li>
                                            </ul></li>
                                        <li><a href="#">人才招募</a></li>            
                                    </ul>
                                </li>
                                <li><a href="#">本所簡介</a>
                                    <ul>
                                        <li><a href="#">簡史</a></li>
                                        <li><a href="#">組織圖</a></li>
                                        <li><a href="#">現任主管</a></li>
                                        <li><a href="#">歷屆所長</a></li>
                                        <li><a href="#">學門簡介</a>
                                            <ul>
                                                <li><a href="#">歷史學門</a></li>
                                                <li><a href="#">考古學門</a></li>
                                                <li><a href="#">人類學門</a></li>
                                                <li><a href="#">文字學門</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">學術諮詢委員</a></li>6           
                                    </ul>
                                </li>
                                <li><a href="#">人員名錄</a>
                                    <ul>
                                        <li><a href="#">研究人員</a></li>
                                        <li><a href="#">研究技術人員</a></li>
                                        <li><a href="#">通信暨兼任研究人員</a>
                                            <ul>
                                                <li><a href="#">通信研究員</a></li>
                                                <li><a href="#">兼任研究員</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">退休離職研究人員</a></li>
                                        <li><a href="#">博士後研究</a></li>
                                        <li><a href="#">博士候選人培育</a></li>
                                        <li><a href="#">訪問學者</a></li>
                                        <li><a href="#">行政人員</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">研究室與工作室</a>
                                    <ul>
                                        <li><a href="#">專題研究室</a>
                                            <ul>
                                                <li><a href="#">文化思想史研究室</a></li>
                                                <li><a href="#">法律史研究室</a></li>
                                                <li><a href="#">臺灣與東南亞考古學研究室</a></li>
                                                <li><a href="#">文物圖象研究室</a></li>
                                                <li><a href="#">生命醫療史研究室</a></li>
                                                <li><a href="#">禮俗宗教研究室</a></li>
                                                <li><a href="#">世界史研究室</a></li>
                                                <li><a href="#">古代文明研究室</a></li>
                                                <li><a href="#">數位人文學研究室</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">工作室</a>
                                            <ul>
                                                <li><a href="#">明清檔案工作室</a></li>
                                                <li><a href="#">漢籍全文資料庫工作室</a></li>
                                                <li><a href="#">地理資訊系統工作室</a></li>
                                                <li><a href="#">金文工作室</a></li>
                                                <li><a href="#">安陽工作室</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="#">出版品</a>
                                    <ul>
                                        <li><a href="#">最新出版品</a></li>
                                        <li><a href="#">專書</a>
                                            <ul>
                                                <li><a href="#">文字學</a></li>
                                                <li><a href="#">歷史文獻</a></li>
                                                <li><a href="#">考古學</a></li>
                                                <li><a href="#">民族學</a></li>
                                                <li><a href="#">目錄與索引</a></li>
                                                <li><a href="#">傅斯年講座</a></li>
                                                <li><a href="#">漢學會議論文集</a></li>
                                            </ul>   
                                        </li>
                                        <li><a href="#">史語所集刊</a></li>
                                        <li><a href="#">古今論衡</a></li>
                                        <li><a href="#">Asia Major</a></li>
                                        <li><a href="#">法制史研究</a></li>
                                        <li><a href="#">出版品搜尋</a></li>
                                        <li><a href="#">價目表（下載）</a></li>
                                        <li><a href="#">銷售通路</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">學術資源</a>
                                    <ul>
                                        <li><a href="#">傅斯年圖書館</a></li>
                                        <li><a href="#">歷史文物陳列館</a></li>
                                        <li><a href="#">檔案館</a></li>
                                        <li><a href="#">本所資料庫</a>
                                            <!--<ul>
                                                <li><a href="#">漢籍全文電子文獻</a></li>
                                                <li><a href="#">史語所數位典藏資料庫整合系統</a></li>
                                                <li><a href="#">傅斯年圖書館整編史語所檔案目錄</a></li>
                                                <li><a href="#">傅斯年圖書館珍藏圖籍書目資料庫</a></li>
                                                <li><a href="#">明清與民國檔案跨資料庫檢索平台</a></li>
                                                <li><a href="#">傅斯年圖書館藏臺灣公私藏古文書影本影像資料庫</a></li>
                                                <li><a href="#">人名權威-人物傳記資料庫</a></li>
                                                <li><a href="#">中國歷史地名查詢系統</a></li>
                                                <li><a href="#">台灣考古遺址GIS系統</a></li>
                                                <li><a href="#">村寨網 ─ 中國西南少數民族</a></li>
                                                <li><a href="#">拓片與古文書數位典藏計畫</a></li>
                                                <li><a href="#">內閣大庫檔案疾病醫療相關資料庫</a></li>
                                                <li><a href="#">考古資料數位典藏資料庫</a></li>
                                                <li><a href="#">台灣宋史研究網</a></li>
                                                <li><a href="#">《黃帝內經》書目檢索資料庫</a></li>
                                                <li><a href="#">考古資料數位典藏創新計畫</a></li>
                                                <li><a href="#">徽州契約文書</a></li>
                                                <li><a href="#">史語所出版品目錄</a></li>
                                                <li><a href="#">中央研究院歷史語言研究所珍藏歷史文物數位典藏計畫網站</a></li>
                                                <li><a href="#">同人輯唐宋明清史書目</a></li>
                                                <li><a href="#">台灣美術圖像與文化解釋</a></li>
                                                <li><a href="#">生命醫療史研究室書目資料庫檢索</a></li>
                                                <li><a href="#">史語所同仁著作目錄</a></li>
                                                <li><a href="#">文物圖象研究室資料庫檢索系統</a></li>
                                                <li><a href="#">中央研究院歷史語言研究所古典目錄導航系統</a></li>
                                            </ul>-->    
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="#">交流研習</a>
                                    <ul>
                                        <li><a href="#">國際學術合作交流</a></li>
                                        <li><a href="#">研究獎助</a>
                                            <ul id="ooo">
                                                <li><a href="#">傅斯年獎學金</a></li>
                                                <li><a href="#">黃彰健院士學術研究獎金</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">歷史研習營</a></li>
                                        <li><a href="#">兩岸歷史文化研習營</a></li>
                                        <li><a href="#">明清研究推動委員會</a></li>
                                        <li><a href="#">史語藝廊</a></li>
                                    </ul>
                                </li>
                            </ul>               
                        </nav>

                    </div>
                </div>
            </header>
            
            <div id="banner" class="main-carousel">
                <div class="banner-main">
                    <img class="zoomin" src="images/Banner-01.png" alt="*">      
                </div>
                <div class="banner-main">
                    <img class="zoomin" src="images/Banner-02.png" alt="*">      
                </div>
                <div class="banner-main">
                    <img class="zoomin" src="images/Banner-03.png" alt="*">      
                </div>
                <div class="banner-main">
                    <img class="zoomin" src="images/Banner-04.png" alt="*">      
                </div>
                <div class="banner-main">
                    <img class="zoomin" src="images/Banner-05.png" alt="*">      
                </div>
                <div class="banner-main">
                    <img class="zoomin" src="images/Banner-06.png" alt="*">      
                </div>
                <div class="banner-main">
                    <div class="banner-info">
                        <div class="info-main">
                            <h2>窮碧落下黃泉，動手動腳找東西</h2>
                            <!--<h3>上窮碧落下黃泉，動手動腳找東西</h3>-->
                        </div>
                    </div>  
                    <img class="wow zoomin" src="images/Banner-01.png" alt="*">
                </div>
            </div>

            <!--<div id="banner">
                <div id="homepage-hero" class="hero-slider">
                <div class="item zoom-out">
                	<div class="image-holder">
                        <div class="bg" style="background-image:url(images/Banner-01.png)">
                            <span class="mask"></span>
                        </div>
                    </div>
                    <div class="inner">
                        <div class="data">
                            <div class="category">展覽與活動</div>
                            <div class="title">商王動物園：甲骨中的蟲魚鳥獸</div>
                            <div class="contents">展期：2020年8月22日起<br>展區：一樓甲骨區</div>
                            <a href="exhibitions/75/" class="box-btn" >了解更多</a>
                        </div>
                    </div>
                </div>
                
                <div class="item ">
                	<div class="image-holder">
                        <a href="events/113/"  class="bg" style="background-image:url(images/Banner-02.png)">
                        <span class="mask"></span></a>
                    </div>
                </div>

                <div class="item ">
                	<div class="image-holder">
                        <a href="events/113/"  class="bg" style="background-image:url(images/Banner-03.png)">
                        <span class="mask"></span></a>
                    </div>
                </div>
            </div>--><!--//end  #homepage-hero-->
            </div>

            <div id="cindex">
                <img src="images/pic_index01.png" alt="*">
                <img src="images/pic_index02.png" alt="*">
            </div>
            
            <footer>
                <div id="ftr-main">
                    <img src="images/footer-main.png" alt="*">
                </div>
            </footer>
        </div><!--//end #wrap-->

        <script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/superfish@1.7.10/dist/js/superfish.min.js"></script>
        <script>
            jQuery(document).ready(function() {
              jQuery('ul.sf-menu').superfish({
                cssArrows: false,
                delay: 0,
              });
            });
        </script>
        
        <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
        <script>
            $('.main-carousel').flickity({
            // options
            cellAlign: 'left',
            contain: 'true',
            autoPlay: '3000',
            pauseAutoPlayOnHover: 'false',
            accessibility: 'true',
            });
        </script>
        <script src="script/HeroSlider.js"></script>
        
        <script>
            (function(){
                var obj = document.getElementById("nav-top");
                var top = getTop(obj);
                var isIE6 = /msie 6/i.test(navigator.userAgent);
                window.onscroll = function(){
                    var bodyScrollTop = document.documentElement.scrollTop || document.body.scrollTop;
                    if (bodyScrollTop > top){
                        obj.style.position = (isIE6) ? "absolute" : "fixed";
                        obj.style.top = (isIE6) ? bodyScrollTop + "px" : "0px";
                    } else {
                        obj.style.position = "static";
                    }
                }
                function getTop(e){
                    var offset = e.offsetTop;
                    if(e.offsetParent != null) offset += getTop(e.offsetParent);
                    return offset;
                }
            })()
            </script>
</body>              
</html>


<!-- Created By
   ##############               ###############   
    ##############             ###############    
    ##############             ##############     
     ##############           ##############      
      ##############          #############       
       #############         ##############       
        #############       ##############        
        ##############      #############         
         ###############################          
         ###############################          
        #################################         
        ##############     ##############         
       ##############       ##############        
       ##############        ##############       
      ##############         #######           
     ###############          ##############      
     ##############           ###############     
    ######      
    ##############              ##############    
   ##############               ##############
          
                 xuedesign studio 
             https://www.xuedesign.tw/
--> 