<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://www.xuedesign.tw/images/favicon.ico"/>
    <title>[首頁提案-英文版] 中央研究院歷史語言研究所</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/flickity.css">
    <!--<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">-->
    <link rel="stylesheet" href="css/superfish-en.css">
</head>
<body>
    
</body>
    
        <div id="wrap">
            <header>
                <div id="hdr-fixed-red2">
                    <a href="#">
                        <div id="hdr-main">
                            <img src="images/header-main.png" alt="*">
                        </div>
                    </a>
                    
                    <div id="nav-top">
                        <nav>
                            <ul class="sf-menu" id="example">
                                <li class="current"><a href="#">Bulletin</a>
                                    <ul>
                                        <li class="current">
                                            <a href="#">Events</a>
                                            <ul>
                                                <li><a href="#">IHP Lectures</a></li>
                                                <li><a href="#">Guest Lectures</a></li>
                                                <li><a href="#">Conferences</a></li>
                                                <li><a href="#">Student Workshops</a></li>
                                                <li><a href="#">Fu Ssu-nien Lectures</a></li>
                                            </ul></li>
                                        <li><a href="#">News</a>
                                            <ul>
                                                <li><a href="#">Visiting Scholars</a></li>
                                                <li><a href="#">Awards</a></li>
                                                <li><a href="#">Announcements</a></li>
                                                <li><a href="#">Applications</a></li>
                                            </ul></li>
                                        <li><a href="#">Positions Available</a></li>            
                                    </ul>
                                </li>
                                <li><a href="#">About IHP</a>
                                    <ul>
                                        <li><a href="#">Overview</a></li>
                                        <li><a href="#">Organization</a></li>
                                        <li><a href="#">Director and<br>Deputy Directors</a></li>
                                        <li><a href="#">Past Directors</a></li>
                                        <li><a href="#">Departments</a>
                                            <ul>
                                                <li><a href="#">History</a></li>
                                                <li><a href="#">Archaeology</a></li>
                                                <li><a href="#">Anthropology</a></li>
                                                <li><a href="#">Philology</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Advisory Board</a></li>6           
                                    </ul>
                                </li>
                                <li><a href="#">People</a>
                                    <ul>
                                        <li><a href="#">Research Fellows</a></li>
                                        <li><a href="#">Research Specialist</a></li>
                                        <li><a href="#">Corresponding and<br>Adjunct Research Fellows</a>
                                            <ul>
                                                <li><a href="#">Corresponding Research<br>Fellows</a></li>
                                                <li><a href="#">Adjunct Research<br>Fellows</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Retired/Resigned<br>Research Fellows</a></li>
                                        <li><a href="#">Postdoctoral<br>Research Associate</a></li>
                                        <li><a href="#">Doctoral Candidate Fellows</a></li>
                                        <li><a href="#">Visiting Scholars/ Students</a></li>
                                        <li><a href="#">Administrative Staff</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Working Groups</a>
                                    <ul>
                                        <li><a href="#">Research Centers</a>
                                            <ul>
                                                <li><a href="#">Cultural and<br>Intellectual History</a></li>
                                                <li><a href="#">Legal History</a></li>
                                                <li><a href="#">Archaeology of Taiwan <br>and Southeast Asia</a></li>
                                                <li><a href="#">Images and Artifacts</a></li>
                                                <li><a href="#">History of Health<br>and Healing</a></li>
                                                <li><a href="#">Custom, Religion,<br>and Daily Life</a></li>
                                                <li><a href="#">World History</a></li>
                                                <li><a href="#">Ancient Civilizations</a></li>
                                                <li><a href="#">Digital Humanities</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Research Groups</a>
                                            <ul>
                                                <li><a href="#">Grand Secretariat</a></li>
                                                <li><a href="#">Scripta Sinica</a></li>
                                                <li><a href="#">Geographical<br>Information Systems</a></li>
                                                <li><a href="#">Bronze Inscriptions</a></li>
                                                <li><a href="#">Anyang<br>Archaeologic
                                                    al Site</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="#">Publications</a>
                                    <ul>
                                        <li><a href="#">Latest Publications</a></li>
                                        <li><a href="#">Books</a>
                                            <ul>
                                                <li><a href="#">Philology</a></li>
                                                <li><a href="#">Historical Documents</a></li>
                                                <li><a href="#">Archeology</a></li>
                                                <li><a href="#">Ethnology</a></li>
                                                <li><a href="#">Indexes</a></li>
                                                <li><a href="#">Fu Ssu-nien Lectures</a></li>
                                                <li><a href="#">Sinology Conference<br>Proceedings</a></li>
                                            </ul>   
                                        </li>
                                        <li><a href="#">Bulletin of IHP</a></li>
                                        <li><a href="#">Disquisitions on the Past<br>&amp; Present</a></li>
                                        <li><a href="#">Asia Major</a></li>
                                        <li><a href="#">Journal for Legal<br>History Studies</a></li>
                                        <li><a href="#">Catalog</a></li>
                                        <li><a href="#">Prices(download)</a></li>
                                        <li><a href="#">How to Subscribe</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Academic Resources</a>
                                    <ul>
                                        <li><a href="#">Fu Ssu-nien Library</a></li>
                                        <li><a href="#">IHP Museum</a></li>
                                        <li><a href="#">IHP Archives</a></li>
                                        <li><a href="#">IHP Databases</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Outreach</a>
                                    <ul id="upooo">
                                        <li><a href="#">International Scholarly<br>Cooperation and<br>Exchanges</a></li>
                                        <li><a href="#">Scholarships</a>
                                            <ul id="ooo">
                                                <li><a href="#">Fu Ssu-nien<br> Scholarship</a></li>
                                                <li><a href="#">Huang Chang-chien<br>Academic Research<br>Scholarship</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">IHP History<br>Workshop</a></li>
                                        <li><a href="#">Cross-Strait History<br>&amp; Culture Workshop</a></li>
                                        <li><a href="#">Committee for<br>Promoting Ming-Qing<br>Studies</a></li>
                                        <li><a href="#">IHP Art Gallery</a></li>
                                    </ul>
                                </li>
                            </ul>               
                        </nav>

                    </div>
                </div>
            </header>
            
            <div id="banner" class="main-carousel">
                <div class="banner-main">
                    <img class="zoomin" src="images/Banner-01.png" alt="*">      
                </div>
                <div class="banner-main">
                    <img class="zoomin" src="images/Banner-02.png" alt="*">      
                </div>
                <div class="banner-main">
                    <img class="zoomin" src="images/Banner-03.png" alt="*">      
                </div>
                <div class="banner-main">
                    <img class="zoomin" src="images/Banner-04.png" alt="*">      
                </div>
                <div class="banner-main">
                    <img class="zoomin" src="images/Banner-05.png" alt="*">      
                </div>
                <div class="banner-main">
                    <img class="zoomin" src="images/Banner-06.png" alt="*">      
                </div>
                <div class="banner-main">
                    <div class="banner-info">
                        <div class="info-main">
                            <h2>窮碧落下黃泉，動手動腳找東西</h2>
                            <!--<h3>上窮碧落下黃泉，動手動腳找東西</h3>-->
                        </div>
                    </div>  
                    <img class="wow zoomin" src="images/Banner-01.png" alt="*">
                </div>
            </div>

            <!--<div id="banner">
                <div id="homepage-hero" class="hero-slider">
                <div class="item zoom-out">
                	<div class="image-holder">
                        <div class="bg" style="background-image:url(images/Banner-01.png)">
                            <span class="mask"></span>
                        </div>
                    </div>
                    <div class="inner">
                        <div class="data">
                            <div class="category">展覽與活動</div>
                            <div class="title">商王動物園：甲骨中的蟲魚鳥獸</div>
                            <div class="contents">展期：2020年8月22日起<br>展區：一樓甲骨區</div>
                            <a href="exhibitions/75/" class="box-btn" >了解更多</a>
                        </div>
                    </div>
                </div>
                
                <div class="item ">
                	<div class="image-holder">
                        <a href="events/113/"  class="bg" style="background-image:url(images/Banner-02.png)">
                        <span class="mask"></span></a>
                    </div>
                </div>

                <div class="item ">
                	<div class="image-holder">
                        <a href="events/113/"  class="bg" style="background-image:url(images/Banner-03.png)">
                        <span class="mask"></span></a>
                    </div>
                </div>
            </div>--><!--//end  #homepage-hero-->
            </div>

            <div id="cindex">
                <img src="images/pic_index01.png" alt="*">
                <img src="images/pic_index02.png" alt="*">
            </div>
            
            <footer>
                <div id="ftr-main">
                    <img src="images/footer-main.png" alt="*">
                </div>
            </footer>
        </div><!--//end #wrap-->

        <script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/superfish@1.7.10/dist/js/superfish.min.js"></script>
        <script>
            jQuery(document).ready(function() {
              jQuery('ul.sf-menu').superfish({
                cssArrows: false,
                delay: 0,
              });
            });
        </script>
        
        <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
        <script>
            $('.main-carousel').flickity({
            // options
            cellAlign: 'left',
            contain: 'true',
            autoPlay: '3000',
            pauseAutoPlayOnHover: 'false',
            accessibility: 'true',
            });
        </script>
        <script src="script/HeroSlider.js"></script>
        
        <script>
            (function(){
                var obj = document.getElementById("nav-top");
                var top = getTop(obj);
                var isIE6 = /msie 6/i.test(navigator.userAgent);
                window.onscroll = function(){
                    var bodyScrollTop = document.documentElement.scrollTop || document.body.scrollTop;
                    if (bodyScrollTop > top){
                        obj.style.position = (isIE6) ? "absolute" : "fixed";
                        obj.style.top = (isIE6) ? bodyScrollTop + "px" : "0px";
                    } else {
                        obj.style.position = "static";
                    }
                }
                function getTop(e){
                    var offset = e.offsetTop;
                    if(e.offsetParent != null) offset += getTop(e.offsetParent);
                    return offset;
                }
            })()
            </script>  
</html>


<!-- Created By
   ##############               ###############   
    ##############             ###############    
    ##############             ##############     
     ##############           ##############      
      ##############          #############       
       #############         ##############       
        #############       ##############        
        ##############      #############         
         ###############################          
         ###############################          
        #################################         
        ##############     ##############         
       ##############       ##############        
       ##############        ##############       
      ##############         #######           
     ###############          ##############      
     ##############           ###############     
    ######      
    ##############              ##############    
   ##############               ##############
          
                 xuedesign studio 
             https://www.xuedesign.tw/
--> 