<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>[提案]中央研究院歷史語言研究所-內頁</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    
</body>
    <a href="index.html">
        <div id="wrap">
            <div id="desktop">
                <img src="images/content-01.png" alt="*">
                <img src="images/content-02.png" alt="*">
                <img src="images/content-03.png" alt="*">
                <img src="images/content-04.png" alt="*">
                <img src="images/content-05.png" alt="*">   
            </div>
            <div id="desktop-s">
                <img src="images/content-ds-01.png" alt="*">
                <img src="images/content-ds-02.png" alt="*">
                <img src="images/content-ds-03.png" alt="*">
                <img src="images/content-ds-04.png" alt="*">
                <img src="images/content-ds-05.png" alt="*">  
            </div>
            <div id="laptop">
                <img src="images/content-m-01.png" alt="*">
                <img src="images/content-m-02.png" alt="*">
                <img src="images/content-m-03.png" alt="*">
                <img src="images/content-m-04.png" alt="*">
                <img src="images/content-m-05.png" alt="*">
            </div>
            <div id="mobile">
                <img src="images/content-s-01.png" alt="*">
                <img src="images/content-s-02.png" alt="*">
                <img src="images/content-s-03.png" alt="*">
                <img src="images/content-s-04.png" alt="*">
                <img src="images/content-s-05.png" alt="*">
                <img src="images/content-s-06.png" alt="*">
                <img src="images/content-s-07.png" alt="*">
            </div>
        </div>
    </a>
</html>


<!-- Created By
   ##############               ###############   
    ##############             ###############    
    ##############             ##############     
     ##############           ##############      
      ##############          #############       
       #############         ##############       
        #############       ##############        
        ##############      #############         
         ###############################          
         ###############################          
        #################################         
        ##############     ##############         
       ##############       ##############        
       ##############        ##############       
      ##############         #######           
     ###############          ##############      
     ##############           ###############     
    ######      
    ##############              ##############    
   ##############               ##############
          
                 xuedesign studio 
             https://www.xuedesign.tw/
--> 