<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>[提案]中央研究院歷史語言研究所-首頁</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    
</body>
    <a href="content.html">
        <div id="wrap">
            <div id="desktop">
                <img src="images/index-01.png" alt="*">
                <img src="images/index-02.png" alt="*">
                <img src="images/index-03.png" alt="*">
                <img src="images/index-04.png" alt="*">
                <img src="images/index-05.png" alt="*">  
            </div>
            <div id="desktop-s">
                <img src="images/index-ds-01.png" alt="*">
                <img src="images/index-ds-02.png" alt="*">
                <img src="images/index-ds-03.png" alt="*">
                <img src="images/index-ds-04.png" alt="*">
                <img src="images/index-ds-05.png" alt="*">  
            </div>
            <div id="laptop">
                <img src="images/index-m-01.png" alt="*">
                <img src="images/index-m-02.png" alt="*">
                <img src="images/index-m-03.png" alt="*">
                <img src="images/index-m-04.png" alt="*">
                <img src="images/index-m-05.png" alt="*">
                <img src="images/index-m-06.png" alt="*">
                <img src="images/index-m-07.png" alt="*">
            </div>
            <div id="mobile">
                <img src="images/index-s-01.png" alt="*">
                <img src="images/index-s-02.png" alt="*">
                <img src="images/index-s-03.png" alt="*">
                <img src="images/index-s-04.png" alt="*">
                <img src="images/index-s-05.png" alt="*">
                <img src="images/index-s-06.png" alt="*">
                <img src="images/index-s-07.png" alt="*">
                <img src="images/index-s-08.png" alt="*">
                <img src="images/index-s-09.png" alt="*">
                <img src="images/index-s-10.png" alt="*">
                <img src="images/index-s-11.png" alt="*">
                <img src="images/index-s-12.png" alt="*">
                <img src="images/index-s-13.png" alt="*">
                <img src="images/index-s-14.png" alt="*">
            </div>
        </div>
    </a>
</html>


<!-- Created By
   ##############               ###############   
    ##############             ###############    
    ##############             ##############     
     ##############           ##############      
      ##############          #############       
       #############         ##############       
        #############       ##############        
        ##############      #############         
         ###############################          
         ###############################          
        #################################         
        ##############     ##############         
       ##############       ##############        
       ##############        ##############       
      ##############         #######           
     ###############          ##############      
     ##############           ###############     
    ######      
    ##############              ##############    
   ##############               ##############
          
                 xuedesign studio 
             https://www.xuedesign.tw/
--> 